html {
    scroll-behavior: smooth;
}
body {
    background-color: rgb(119, 141, 169);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}
.top_links {
    padding: 15px;

}
.Top-section {
    position: fixed;
    margin-left: auto;
    margin-right: 500px;
    padding: 20px;
    background-color: bisque;
    font-size: 25px;
    border-radius: 5px;
}
.button {
    font-size: 20px;
    background-color: black;
    margin-right: 20px;
    margin-left: 20px;
    background-color: rgb(43, 150, 226);
    border: none;
    border-radius: 5px;
    padding: 7px;
    cursor: pointer;
    box-shadow: 0 5px #666;
    transition: background-color 0.4s, padding 1.4s;
}
.button:hover {
    background-color: greenyellow;
    transition: 0.2s;
    cursor: pointer;
}
.button:active {
    opacity: 0.7;
    background-color: #3e8e41;
    box-shadow: 0 5px rgba(102, 102, 102, 0);
    transform: translate(0px, 4px);
  }
.title{
    background-color: rgb(119, 141, 169);
    padding: 10px;
    width: 285px;
    border-radius: 8px;
}
.Information {
    padding-left: 25px;
}
.info{
    background-color: rgb(124, 169, 130);
    padding: 15px;
    width: 520px;
    border-radius: 6px;
}
h2{
    margin-top: 0   ;
    font-size: 30px;
    background-color: rgb(124, 169, 130);
    padding: 15px;
    width: 520px;
    border-radius: 6px;

}
dl{
    background-color:  rgb(1, 107, 15);
    padding: 15px;
    width: 550px;
    border-radius: 6px;
}
dt{
    font-size: 18px;
    font-weight: bold;
}
dd {
    font-size: 18px;
    width: 480px;
    padding-top: 15px;
    padding-bottom: 30px;
}
a{
    color: rgb(143, 45, 86);
}
a:hover{
    color: rgb(255, 20, 105);
    transition: 0.2s;
    cursor: pointer ;

}
.BTT {
    text-align: center;
    background-color: beige;
    width: 200px;
    border-radius: 7px;
    padding: 5px;
    font-size: 20px;
    margin-right: 20px;
    margin-left: 20px;
    box-shadow: 0 5px #666;
    transition: background-color 0.4s, padding 1.4s;
}
.BTT:active {
    opacity: 0.7;
    background-color: #893e8e;
    box-shadow: 0 5px rgba(102, 102, 102, 0);
    transform: translate(0px, 4px);

}
.ruler {
    height: 5px;
    background-color: red;
    border-width: 0;
}