body {
    background-color: rgb(119, 141, 169);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}
.top_links {
    padding: 15px;

}
.Top-section {
    position: fixed;
    margin-left: auto;
    margin-right: 500px;
    padding: 20px;
    background-color: bisque;
    margin-right: 0 ;
    font-size: 25px;
}
.title{
    background-color: rgb(119, 141, 169);
    padding: 10px;
    width: 285px;
    border-radius: 8px;
}
.Information {
    padding-left: 25px;
}
.info{
    background-color: rgb(124, 169, 130);
    padding: 15px;
    width: 520px;
    border-radius: 6px;
}
h2{
    font-size: 30px;

}
dl{
    background-color:  rgb(1, 107, 15);
    padding: 15px;
    width: 550px;
    border-radius: 6px;
}
dt{
    font-size: 18px;
    font-weight: bold;
}
dd {
    font-size: 18px;
    width: 480px;
    padding-top: 15px;
    padding-bottom: 30px;
}
a{
    color: rgb(143, 45, 86);
}
a:hover{
    color: rgb(255, 20, 105);
    transition: 0.2s;
    cursor: v   ;

}
.ruler {
    height: 5px;
    background-color: red;
    border-width: 0;
}
.email{
    inset-inline: initial   ;
}